<div class="verticle">

    <div class="section">
        <mat-toolbar id="result">
            Results
        </mat-toolbar>

        <mat-card *ngFor="let property of properties" [popper]="popper2Content" [popperApplyClass]="'popper--dark'" [popperTimeout]="1000" [popperPlacement]="'bottom'">
            <mat-card-header>
                <img [src]="property.agency.logo">
                <span [style.color]="property.agency.brandingColors.primary" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" [(colorPicker)]="property.agency.brandingColors.primary">Primary Color</span>
            </mat-card-header>
            <img mat-card-image [src]="property.mainImage">

            <mat-card-actions>
                {{property.price}}
            </mat-card-actions>
            <popper-content #popper2Content>
                <button mat-button (click)="OnAddProperty(property.id)">
                            <mat-icon>add</mat-icon>
                            </button>
            </popper-content>
        </mat-card>

    </div>
    <div class="section">
        <mat-toolbar>
            Saved Properties
        </mat-toolbar>

        <mat-card *ngFor="let property of savedProperties" [popper]="popper1Content" [popperApplyClass]="'popper--dark'" [popperTimeout]="1000">
            <mat-card-header>
                <img [src]="property.agency.logo">
                <span [style.color]="property.agency.brandingColors.primary" [cpPosition]="'top'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" [(colorPicker)]="property.agency.brandingColors.primary">Primary Color</span>
            </mat-card-header>
            <img mat-card-image [src]="property.mainImage">
            <mat-card-actions>
                {{property.price}}
            </mat-card-actions>
            <popper-content #popper1Content>
                <button mat-button (click)="OnRemoveProperty(property.id)">
                    <mat-icon>remove</mat-icon>
                    </button>
            </popper-content>
        </mat-card>
    </div>
</div>