mat-card-header img {
    border-radius: 50%;
}

mat-card {
    margin: 20px;
}

.verticle {
    display: flex;
    flex-flow: row
}

.popper--dark {
    background-color: black;
}

.section {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    width: 50%;
}